.notification-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  text-align: center;
  vertical-align: top;
  font-size: 80%;
}

.notification-layer .notifications {
  display: inline-block;
  max-width: 80vw;
}

.notification-layer .notification {
  opacity: 0;
  pointer-events: none;
  text-align: center;
  background: #666;
  color: #fff;
  padding: 6px 20px 4px;
  text-transform: none;
  overflow: hidden;
  transition: all 0.2s;
  border-radius: 5px;
  margin-top: 5px;
  border: solid 1px #333;
  line-height: 1.2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.notification-layer .notification.success {
  background: #5DA423;
  border-color: #549420;
}

.notification-layer .notification.warning {
  background: #E3B000;
  border-color: #CC9F01;
}

.notification-layer .notification.error {
  background: #C60F13;
  border-color: #B20E12;
}

.notification-layer .notification.information {
  background: #2BA6CB;
  border-color: #2796B7;
}

.notification-layer .notification.open {
  opacity: 1;
}

.notification-layer .notification.closed {
  opacity: 0;
}