
.overlay-dialog.opened {
  opacity: 1;
  pointer-events: all;
}

.overlay-dialog.opened .dialog {
  margin-top: 0;
}

.overlay-dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
  z-index: 1;
}

.dialog {
  border-radius: 5px;
  background: #fff;
  margin-top: -150px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: margin .2s;
}

.dialog .header,
.dialog .footer,
.dialog .body,
.dialog .sub-header {
  padding: 10px;
}

.dialog .header,
.dialog .footer {
  background: #efefef;
}

.dialog .header,
.dialog .sub-header {
  border-bottom: solid 1px #ddd;
}

.dialog .sub-header {
  background: #eee;
  display: none;
  line-height: 24px;
}

.dialog .sub-header input[type="text"] {
  flex: 1;
  margin: 0 8px;
}

.dialog .sub-header button {
  width: 100px;
}

.dialog .body .graph-database-http {
  display: none;
  padding: 3px;
  min-width: 200px;
}

.dialog .body .upload-json-file-new-save {
  padding: 3ch;
}

.dialog .body .upload-json-file-new-save .text-input {
  min-width: 280px;
}

.dialog .body .view-cql {
  color: #f34e;
}

.dialog .body .view-div {
  padding: 5px;
  display: grid;
}

.dialog .footer {
  border-top: solid 1px #ddd;
  text-align: right;
}

.dialog .footer button  {
  min-width: 80px;
}

.dialog .footer .left {
  float: left;
}

.dialog .body {
  min-height: 240px;
  max-height: 50vh;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 536px;
  max-width: 50vw;
  overflow: auto;
}

.save-entry {
  width: 100px;
  flex: 1;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: all .2s;
  padding: 10px;
  border: solid 1px transparent;
  -webkit-user-select: none;
  user-select: none;
}

.save-entry * {
  pointer-events: none;
}

.save-entry:hover,
.save-entry:focus {
  border-color: #eee;
  outline: none;
}

.save-entry.selected {
  background: #fafafa;
  border-color: #eee;
}

.save-entry .icon {
  display: inline-block;
  height: 55px;
  width: 48px;
  font-size: 48px;
  line-height: 54px;
  vertical-align: middle;
}

.save-entry .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}

.save-entry small {
  opacity: .3;
  display: block;
  font-size: 70%;
  padding: 0 10px;
  line-height: 1;
  white-space: normal;
}

.dialog.intro .body {
  padding: 0;
  width: 853px;
  max-width: none;
  min-height: 480px;
  display: block;
}

.dialog.intro::before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  background: rgba(0,0,0,0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialog .body .overlay-operation-dialog-body-input {
  height: 256px;
  width: 512px;
}


.save-entry-json-os {
  width: 100px;
  flex: 1;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  transition: all .2s;
  padding: 10px;
  border: solid 1px transparent;
  -webkit-user-select: none;
  user-select: none;
}

.save-entry-json-os * {
  pointer-events: none;
}

.save-entry-json-os:hover,
.save-entry-json-os:focus {
  border-color: #eee;
  outline: none;
}

.save-entry-json-os.selected {
  background: #fafafa;
  border-color: #eee;
}

.save-entry-json-os .icon {
  display: inline-block;
  height: 55px;
  width: 48px;
  font-size: 48px;
  line-height: 54px;
  vertical-align: middle;
}

.save-entry-json-os .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;
}

.save-entry-json-os small {
  opacity: .3;
  display: block;
  font-size: 70%;
  padding: 0 10px;
  line-height: 1;
  white-space: normal;
}

