/* ============================================================================ */
/* Properties menu styles */
/* ============================================================================ */

.property-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.property-menu.edge-properties .header .color {
  display: none;
}

.property-menu.edge-properties .header .label {
  margin-left: 0;
}

/* header ===================================================================== */

.property-menu .header {
  background: #fafafa;
  border-bottom: solid 1px #ddd;
  padding: 10px 10px 7px;
  position: relative;
}

.property-menu .header input {
  background: none;
  padding: 0;
  border: none;
  outline: none;
}

.property-menu .header .label {
  margin: 0 22px;
  display: block;
}

.property-menu .header .label input {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  /*触发自动转换为首字母大写的文本格式*/
  text-transform: none;
}

.property-menu .header .label .type {
  display: block;
  color: #888;
  line-height: 7px;
  padding-bottom: 5px;
}

.property-menu .header .color {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 10px;
  top: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.property-menu .header .color input {
  width: 100px;
  height: 100px;
  margin: -15px;
}

/* add button */

.property-menu .add-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  color: #ddd;
  outline: none;
  display: block;
  transition: all 0.2s;
  box-shadow: none;
  border: solid 1px transparent;
}

.property-menu .add-button:hover {
  background-color: #f1f1f1;
  color: #666;
  border: solid 1px #ddd;
}

/* */

.no-selected {
  background: #fafafa;
  padding: 10px 15px;
  width: 100%;
}

/* main ======================================================================= */

.property-menu .main {
  display: flex;
  flex: 1;
}

.property-menu .main .properties {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.property-menu .main ul#properties-list {
  overflow: auto;
}

.property-menu .main #properties-list li {
  position: relative;
  transition: background-color 0.2s;
  overflow: hidden;
}

.property-menu .main #properties-list li.selected,
.property-menu .main #properties-list li.selected:hover {
  background-color: #f8f8f8;
}

.property-menu .main #properties-list li.disabled::after {
  content: '';
  display: block;
  background: #ccc;
  width: 10px;
  height: 8px;
  border-radius: 2px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -3px;
}

.property-menu .main #properties-list li.disabled::before {
  content: '';
  display: block;
  border: solid 2px #ccc;
  width: 2px;
  height: 8px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -8px
}

.property-menu .main #properties-list li.disabled,
.property-menu .main #properties-list li.disabled:hover {
  pointer-events: none ;
  background: inherit;
  opacity: 0.8;
  text-indent: 10px;
  color: #ccc;
}

.property-menu .main #properties-list li.disabled .propertyName {
  left: 15px;
}

.property-menu .main #properties-list li .property {
  cursor: pointer;
  padding: 6px 15px 6px 10px;
  border-bottom: solid 1px #eee;
  text-transform: none;
}

.property-menu .main #properties-list li .property input {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  height: auto;
  text-indent: 10px;
}

.property-menu .main #properties-list li .property .type {
  color: #999;
  float: right;
  transition: margin 0.2s;
  text-transform: none;
}

.property-menu .main #properties-list li .remove-property-button {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 7px;
  width: 14px;
  height: 14px;
  background: #aaa;
  border-radius: 3px;
  cursor: pointer;
  line-height: 13px;
  font-size: 10px;
  text-align: center;
  color: #eee;
  transition: all .2s;
}

.property-menu .main #properties-list li .remove-property-button:hover {
  background-color: #de4041;
  color: #fff;
}

.property-menu .main #properties-list li:hover {
  background-color: #f1f1f1;
}

.property-menu .main #properties-list li:hover .type {
  margin-right: 10px;
}

.property-menu .main #properties-list li:hover .remove-property-button {
  display: block;
}

/* edit mode ================================================================== */

.property-menu .main .property-edit {
  border-left: solid 1px #ddd;
  vertical-align: top;
  flex: 5;
  display: flex;
  flex-direction: column;
}

.property-edit ul {
  padding: 10px;
  flex: 1;
}

.property-edit li input {
  min-width: 0;
  width: auto;
}

.property-edit li input[type="checkbox"] {
  margin-left: -3px;
}

.property-edit li label {
  text-transform: none;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.property-edit li label *:nth-child(2) {
  flex: 1;
}

.property-edit li label span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 65px;
  line-height: 24px;
}

.property-edit .propertyDescription {
  padding: 10px;
  border-top: solid 1px #ddd;
}

.property-edit .propertyDescription label span {
  display: block;
}

.property-edit .propertyDescription label input {
  width: 100%;
}