@import './global.css';
@import './top-menu.css';
@import './properties-menu.css';
@import './context-menu.css';
@import './overlay-dialog.css';
@import './help-info-panel.css';
@import './notifications.css';
@import "./side-panel.css";
@import "./jquery.jsonview.css";

/* ============================================================================ */
/* ============================================================================ */
/* Node styles */
/* ============================================================================ */

.graph-editor .node circle {
  transition: transform 1s;
}

.graph-editor .node.dragging circle {
  cursor: move;
}

.graph-editor .node circle {
  cursor: pointer;
  stroke-width: 5px;
}

.graph-editor .node text {
  white-space: nowrap;
  fill-opacity: 1;
  text-transform: none;
}

.graph-editor .node:focus {
  outline-offset: 5px;
}

/* ============================================================================ */
/* Edge styles */
/* ============================================================================ */

.graph-editor .edge text {
  cursor: pointer;
  text-transform: none;
}

.graph-editor .edge text.dragging {
  cursor: move;
}

.graph-editor .edge path {
  fill: none;
}

.graph-editor .edge text:focus {
  outline-offset: 5px;
}

.graph-editor path {
  stroke-width: 2px;
}

.graph-editor path .path-text {

}

.graph-editor .dragLine {
  stroke-dasharray: 2;
}

.graph-editor .dragLine.hidden {
  display: none;
}
