.top-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.top-menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1
}

.top-menu .toggle-button {
  opacity: .25;
  transition: all .2s;
  padding: 4px 5px;
  cursor: pointer;
  min-width: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: solid 1px transparent;
  user-select: none;
}

.top-menu .toggle-button.open {
  opacity: 1;
  background: #fff;
}

.top-menu .toggle-button:hover {
  border: solid 1px #d1d1d1;
  opacity: 1;
}

.top-menu .content {
  opacity: 0;
  transition: all .2s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 35px;
  left: 0;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  pointer-events: none;
}

.top-menu .content.open {
  opacity: 1;
  pointer-events: all;
}

.top-menu .drop-down-menu li {
  padding: 6px 120px 6px 10px;
  white-space: nowrap;
  border-bottom: solid 1px #eee;
  position: relative;
  transition: all .2s;
  cursor: pointer;
}

.top-menu .drop-down-menu li:hover {
  background: #fafafa;
}

.top-menu .drop-down-menu li:last-of-type {
  border-bottom: none;
}

.top-menu .drop-down-menu li small {
  opacity: .5;
  position: absolute;
  right: 10px;
}

.top-menu .graphql-schema {
  left: 35px;
  top: 45px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  display: flex;
}

.top-menu .graphql-schema > section {
  flex: 1;
}

.top-menu .graphql-schema > section .CodeMirror {
  height: 100%;
}