{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    "es2015"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "preact.h"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ]
    }
  }
}
